/database
*.sqlite3
/.idea
__pycache__
.env
.env.prod
.cache-*
/fusebox/public/static/admin
/venv
/.vscode

# react
/web/node_modules
/web/coverage
/web/.pnp
/web/build
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.js
