.nav-item.dropdown:hover a.nav-link, .nav-item.dropdown.show a.nav-link {
  color: black;
  background-color: #ffffff;
}
.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;
  margin: -1px 0 0 !important;
  padding: 10px !important;
}