.nav-item.dropdown:hover a.nav-link, .nav-item.dropdown.show a.nav-link {
  color: black;
  background-color: #ffffff;
}
.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;
  margin: -1px 0 0 !important;
  padding: 10px !important;
}

.jumbotron {
  padding: 2.5vw 3.5vw !important;
  background-color: #373232 !important;
  font-family: 'Risque', serif;
  color: #007bff;
}

.jumbotron .media-body {
  margin-left: 4vw;
}

.jumbotron h1 {
  font-size: 10vw;
  margin-bottom: 0;
}

.jumbotron p {
  font-size: 1.5em;
  margin: 0 0 0 6vw;
}