body {
  padding-top: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #373232 !important;
}

.navbar .navbar-brand {
  font-family: 'Risque', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .dropdown-menu input
{
  margin-bottom: 0.5vw;
}